@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}


.recharts-surface:focus {
  outline: none !important;
  box-shadow: none !important;
}

.recharts-wrapper:focus {
  outline: none !important;
  box-shadow: none !important;
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.shimmer {
  background: linear-gradient(
    90deg,
    #f1f5f9 25%,
    #e2e8f0 37%,
    #f1f5f9 63%
  );
  background-size: 1000px 100%;
  animation: shimmer 1.2s infinite linear;
}


/* ✅ ONLY table scroll */
.table-scroll::-webkit-scrollbar {
  height: 6px;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #DBEAFE; /* Tailwind bg-blue-100 */
  border-radius: 999px;
}
.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #BFDBFE; /* Tailwind bg-blue-200 */
}

.table-scroll::-webkit-scrollbar-track {
  background: transparent;
}